
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(23, 23, 23);
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(66, 66, 66);
    border-radius: 0px;
  }
  
  .ro { display: block; }
.en { display: none; }
.ru { display: none; }

@font-face {
  font-family: Shadow;
  src: url(../fonts/shadow/BlockShadow-Regular.ttf);
}

:root {
  --primary-color: #1c181d;
  --secundary-color: #fff;
  --third-color: rgb(12, 12, 12);
  --forth-color: #333;
  --fifth-color: #333;
  --sixth-color: white;
  --seventh-color: #0077ff;
  --eight-color: #000;
  --nineth-color: #000;
  --tenth-color: #ff5833ca;

  --eleventh-color: rgb(0, 153, 229);
  --twelf-color:#FF5733;
  --tirth-color:rgb(29, 161, 226);

  --blur-color: rgb(0, 170, 255);
  --blur-second-color: rgb(255, 98, 0);

  --text-forth-color:#005cc6;
  --text-third-color:#0077ff;
  --text-second-color:#0077ff; 
  --text-first-color:#7bbcfe;
  --text-sixth-color:rgb(21, 177, 255);
}


.white-theme{
  --text-sixth-color: #FF5733;
  --text-forth-color: #fb380c;
  --text-third-color: #f95e3c;
  --text-second-color: #fc896f; 
  --text-first-color: #fda490;

  --twelf-color: rgb(0, 153, 229);
  --eleventh-color: #FF5733;
  --tirth-color: #fa6c4c;

  --blur-color: rgb(255, 98, 0);
  --blur-second-color:rgb(0, 170, 255);

  --tenth-color: rgb(0, 153, 229); 
  --nineth-color: rgb(24, 24, 24);
  --eight-color: rgb(45, 45, 45);
  --seventh-color: rgb(154 153 153);
  --sixth-color: #272727;
  --fifth-color: #fff;
  --forth-color: #d1d1d1;
  --third-color: rgb(56 56 56);
  --secundary-color:  #1c181d;
  --primary-color: #c6c6c6;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#icon-bulb{
  width: 30px;
  cursor: pointer;
}

.language-dropdown {
  position: relative;
  display: inline-block;
}

.language-dropdown1 {
    position: relative;
    display: inline-block;
  }


.dropdown-btn {
  background-color: #5e66cb;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: inherit;
  top: 5px;
  border-radius: 7px;
}

.dropdown-btn span{
  transition: 0.2s ease-in-out;
}

.dropdown-btn:hover span{
color: #FF5733;
transition: 0.2s ease-in-out;
}

.dropdown-btn .glyphicon {
  margin-left: 5px;
}


.dropdown-btn1 {
    background-color: #9baef9;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: inherit;
    border-radius: 7px;
  }
  
  .dropdown-btn1 span{
    transition: 0.2s ease-in-out;
  }
  
  .dropdown-btn1:hover span{
  color: #FF5733;
  transition: 0.2s ease-in-out;
  }
  
  .dropdown-btn1 .glyphicon {
    margin-left: 5px;
  }
  


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 12px 16px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 8px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a.active {
  background-color: rgb(39 39 39);
  color: white;
}


.dropdown-content1 {
    display: none;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    min-width: 160px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content1 a {
    color: black;
    padding: 8px 0;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content1 a:hover {
    background-color: #ddd;
  }
  
  .dropdown-content1 a.active {
    background-color: rgb(39 39 39);
    color: white;
  }
  


.show {
  display: block;
}


.first-box{
    position: relative;
    max-width: 65%;
    padding: 5px 25px;
    padding-bottom: 20px;
    background-color: #d3beff;
    border-radius: 30px;
    margin:auto;
    margin-left: 10%;
    -webkit-box-shadow: 12px 8px 25px -10px rgba(0, 0, 0, 0.381);
-moz-box-shadow: 12px 8px 25px -10px rgba(0, 0, 0, 0.381);
box-shadow: 10px 5px 25px -10px rgba(0, 0, 0, 0.381);
}

@media (max-width:950px) {
    .first-box{
max-width: 70%;
    }
    }




@media (max-width:650px) {
    .first-box{
   border-radius: 0px;
   max-width: 100%;
   margin: 0px;
    }
    }



.first-box p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 17px;
}

.first-box h1{
    color: #5e66cb;
    font-size: 35px;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.Containers {
  display: none;
}


.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -3px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 35px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}


.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}


.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}


.info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}


.info {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}


.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background: linear-gradient(92.18deg, #b172e4 -25.78%, #d3beff 123.02%);
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background: linear-gradient(92.18deg, #e19af8 -25.78%, #d3beff 123.02%);
  opacity: 1;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
  display:contents;
}

.carusel1{
    max-height: 500px;
    border-radius: 25px;
    margin-left: auto;
    margin-top: 45px;
    justify-content: center;
    display: flex;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
}

@media (max-width:690px) {
.carusel1{
max-width: 500px;
}
.Back, .forward{
    margin-top: -40px;
}
}

@media (max-width:500px) {
    .carusel1{
    max-width: 390px;
    }
    }
    @media (max-width:390px) {
        .carusel1{
        max-width: 300px;
        }
        .Back, .forward{
            font-size: 20px;
           
            
        }
        }

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


.skewed {
    position: relative;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background: #d3beff;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top right;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.217);
-moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.217);
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.217);
  }

.calumea{
    transform: skewY(6deg);
    position: relative;
    max-height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    top: 45px;
}

iframe{
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.57);
max-width: 450px;
}


@media (max-width:1000px) {
    .skewed{
        height: 1100px;
    }
    .calumea{
        transform: skewY(6deg);
        position: relative;
        max-height: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        top: 100px;
        flex-direction: column-reverse;
    }
    .direct-contact-container{
        margin-top: 100px;
        left: 0px;
    }
    
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
    margin-top: 140px;

    position: relative;
}

  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
      position: relative;
      color: #fff;
    line-height: 4;
    left: 35px;
  }
  
  .contact-text {
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 1.9px;
    color: #fff;
  }
  
  .place {
    margin-left: 62px;
    font-size: 14px;
   
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.2s;
    font-size: 20px;
  }
  
  .contact-text a:hover {
    color: #aaaaaa;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 35px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
    position: relative;
    top: 10px;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #8E94F2;
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }

  hr {
    border-color: rgba(255,255,255,.6);
    border-top: 4px solid #eee;
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
  
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }

  