footer {
    position: absolute;
    bottom: 1000;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
  


  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  .socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color 0.4s ease;
  }
  
  .socials a:hover i {
    color: rgb(0, 153, 229);
  }
  
  .footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
  }
  
  .footer-bottom p a {
    color: #ccc;
    font-size: 16px;
    text-decoration: none;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
  }
  
  .footer-menu {
    float: right;
  }
  
  .footer-menu ul {
    display: flex;
  }
  
  .footer-menu ul li {
    padding-right: 30px;
    display: block;
  }
  
  .footer-menu ul li a {
    color: #cfd2d6;
    font-size: 15px;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover {
    color: rgb(0, 153, 229);
    transition: 0.3s;
  }


  @media only screen and (max-width: 569px) {
  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 50px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 50px;
  }

}

@media  only screen and (max-width: 500px) {
    .footer-bottom p {
      float: none;
    }
  
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      text-align: center;
    }
  
  }

  @media only screen and (max-width: 1024px){
    .footer-bottom a {
      color: #ccc;
      font-size: 16px;
      text-decoration: none;
    }

    .socials a i {
      font-size: 2.1rem;
      width: 40px;
 
    }

    .footer-content p {
      max-width: 700px;
      margin: 20px auto;
      line-height: 28px;
      font-size: 24px;
      color: #cacdd2;
    }

    .footer-menu ul li a {
      font-size: 20px;
      text-decoration: none;
  }

  }