

#icon{
  width: 30px;
  cursor: pointer;
}

.dropdown3 {
  position: relative;

  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 0;
  min-width: 160px;
  padding: 12px 16px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content2 a {
  color: black;
  padding: 8px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.dropdown-content2 a.active {
  background-color: rgb(39 39 39);
  color: white;
}

.dropdown3:hover .dropdown-content2 {
  display: block;
}

.menu-list li a span{
  color: #000000;
}

.menu-list li a span :hover{
  color: rgb(21, 177, 255);
}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;

  
}

.navbar .log li{
 justify-content: space-between; 
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 9;
  padding: 20px 0;
  transition: all 0.3s ease;
  background: rgb(13, 13, 13);
}
.navbar.sticky{
  background: #111;
  padding: 20px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  transition: 100ms;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color:  rgb(21, 177, 255);
}

.navbar .log{
  display: inline-flex;
}
.log li{
  list-style: none;
  margin-right: 10px;
}
.log li a{
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}
.log li a:hover{
  color:  rgb(0, 153, 229);
}

.log-site li a:hover{
color: #FF5733;
}

.banner{
  height: 11vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
  left: auto;
  right: auto;
  margin-left: 10%;
}


.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}

.log1{
  display: none;
}

@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 999px) {
  body.disabled{
    overflow: hidden;
  }
  .log1{
    display: block;
  }
  .icon{
    display: block;
    font-size: 50px;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
   z-index: 10;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}