@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body {
	background: black;;
}
.Cutie {
	margin: auto;
    margin-top: 10%;
	position: relative;
	width: 380px;
	height: 500px;
	background: #2d2d2d;
	border-radius: 8px;
	overflow: hidden;
}
.Cutie::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 500px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
}
.Cutie::after 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 380px;
	height: 500px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
form 
{
	position: absolute;
	inset: 2px;
	background: #131313;
	padding: 50px 40px;
	border-radius: 8px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	
}
h2 
{
	color: #45f3ff;
	font-weight: 500;
	text-align: center;
	letter-spacing: 0.1em;
}
.CutieIntrare 
{
	position: relative;
	width: 300px;
	margin-top: 35px;
}
.CutieIntrare input 
{
	position: relative;
	width: 100%;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	border: none;
	color: #131313;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
}
.CutieIntrare span 
{
	position: absolute;
	left: 0;
	padding: 20px 0px 10px;
	pointer-events: none;
	font-size: 1em;
	color: #8f8f8f;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.CutieIntrare input:valid ~ span,
.CutieIntrare input:focus ~ span 
{
	color: #45f3ff;
	transform: translateX(0px) translateY(-34px);
	font-size: 0.75em;
}
.CutieIntrare i 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #45f3ff;
	border-radius: 4px;
	overflow: hidden;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}
.CutieIntrare input:valid ~ i,
.CutieIntrare input:focus ~ i 
{
	height: 44px;
}
.links 
{
	display: flex;
	justify-content: space-between;
}
.links a 
{
	margin: 10px 0;
	font-size: 0.75em;
	color: #8f8f8f;
	text-decoration: beige;
}
.links a:hover, 
.links a:nth-child(2)
{
	color: #45f3ff;
}
input[type="submit"]
{
	border: none;
	outline: none;
	padding: 11px 25px;
	background: #45f3ff;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	width: 100px;
	margin-top: 10px;
}
input[type="submit"]:active 
{
	opacity: 0.8;

}


@media (max-width: 1023px){
	.Cutie {
		width: 580px;
		height: 600px;
	}
	.Cutie::before {
		width: 580px;
		height: 600px;
	}

	.Cutie::after{
		width: 580px;
		height: 600px;
	}

	.CutieIntrare  {
		width: 480px;
		margin-top: 50px;
		margin-bottom: 10x;
	}

	.CutieIntrare span {
		font-size: 1.5em;
	}

	.CutieIntrare input {
		font-size: 1.5em;
	}

	.CutieIntrare input:valid ~ span,
	.CutieIntrare input:focus ~ span 
	{
	font-size: 1em;
	}

	.links a {
		font-size: 1em;
	}
	
	input[type="submit"]{
		width: 150px;
		margin-top: 10px;
		height: 50px;
	}

	h2 {
		font-size: 40px;
	}

}