* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}



:root {
  --primary-color: #1c181d;
  --secundary-color: #fff;
  --third-color: rgb(12, 12, 12);
  --forth-color: #333;
  --fifth-color: #333;
  --sixth-color: white;
  --seventh-color: #0077ff;
  --eight-color: #000;
  --nineth-color: #000;
  --tenth-color: #ff5833ca;

  --eleventh-color: rgb(0, 153, 229);
  --twelf-color:#FF5733;
  --tirth-color:rgb(29, 161, 226);

  --blur-color: rgb(0, 170, 255);
  --blur-second-color: rgb(255, 98, 0);

  --text-forth-color:#005cc6;
  --text-third-color:#0077ff;
  --text-second-color:#0077ff; 
  --text-first-color:#7bbcfe;
  --text-sixth-color:rgb(21, 177, 255);
}


.white-theme{
  --text-sixth-color: #FF5733;
  --text-forth-color: #fb380c;
  --text-third-color: #f95e3c;
  --text-second-color: #fc896f; 
  --text-first-color: #fda490;

  --twelf-color: rgb(0, 153, 229);
  --eleventh-color: #FF5733;
  --tirth-color: #fa6c4c;

  --blur-color: rgb(255, 98, 0);
  --blur-second-color:rgb(0, 170, 255);

  --tenth-color: rgb(0, 153, 229); 
  --nineth-color: rgb(24, 24, 24);
  --eight-color: rgb(45, 45, 45);
  --seventh-color: rgb(154 153 153);
  --sixth-color: #272727;
  --fifth-color: #fff;
  --forth-color: #d1d1d1;
  --third-color: rgb(56 56 56);
  --secundary-color:  #1c181d;
  --primary-color: #c6c6c6;
} 



.Enter {
  text-align: center;
  color: white;
  margin-top: 10px;
  max-height: 80vh;
  width: 100%;
  box-shadow: 0 0 50px -25px #FF5733;
  position: relative;
  z-index: 2;
}

.Enter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/Special/pozaprincipala.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  filter: brightness(30%);
  z-index: -1;
}

.Enter h3 {
  font-family: 'Poppins', sans-serif;
  padding-top: 175px;
  font-size: 45px;
  position: relative;
}

.Enter p {
  font-family: 'Lato', sans-serif;
  padding: 20px;
  font-size: 17px;
  line-height: 25px;
  padding-bottom: 15%;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.tot {
  background-color: var(--primary-color);
}

.cincia hr{
  border-color: var(--twelf-color);
}


.Enter button {
  min-width: 130px;
  height: 45px;
  color: #ffffff00;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 15px;
  z-index: 0;
  background: #0051ff1e;
  overflow: hidden;
  border: 2px solid var(--eleventh-color);
  color: var(--eleventh-color);
  position: relative;
  z-index: 1;
  font-size: 20px;
  margin-top: 20px;
}

.Enter button:hover {
  color: var(--secundary-color);
}

.Enter button:hover:after {
  width: 100%;
}

.Enter button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--tirth-color);
}


.Cutia1 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
  padding: 50px;
  padding-top: 25px;
  margin-bottom: 100px;
  padding-bottom: 75px;
  max-width: auto;
  border-radius: 15px;
  background: var(--third-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.744);
  filter: brightness(65%);
  transition: 300ms;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;

}

.Cutia1:hover {
  box-shadow: 0 0 40px var(--tenth-color);
  filter: brightness(100%);
  transition: 350ms;

}

.Cutia1:hover h1 {
  color: var(--text-first-color);
  text-shadow:
    0 0 5px var(--text-second-color),
    0 0 10px var(--text-third-color),
    0 0 28px var(--text-forth-color);
  transition: 1500ms;

}


.Cutia1 h1 {
  font-family: 'Poppins', sans-serif;
  margin: 0 0 10px;
  padding: 0;
  background: local;
  font-size: 44px;
  margin-bottom: 7px;
  color: var(--text-sixth-color);
}



.Cutia1 p {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: local;
  padding: 0;
  font-size: 17px;
  color: white;
  line-height: 1.4;
}




.button-product {
  min-width: 130px;
  height: 45px;
  color: #ffffff00;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 15px;
  z-index: 0;
  background: #0051ff1e;
  overflow: hidden;
  border: 2px solid var(--eleventh-color);
  color: var(--eleventh-color);
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.button-product:hover {
  color: var(--secundary-color);
}

.button-product:hover:after {
  width: 100%;
}

.button-product:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--tirth-color);
}



@keyframes animation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}




.Cutia2 {
  margin-left: 100px;
  margin-right: 100px;
  height: 2506px;
  margin-bottom: -19px;
  padding-bottom: 75px;
  max-width: auto;
  border-radius: 15px;
  background: var(--third-color);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.744);
  filter: brightness(65%);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: 300ms;
}





.Cutia2:hover {
  box-shadow: 0 0 40px var(--tenth-color);
  filter: brightness(100%);

}




.Cutia2 h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--text-sixth-color);
  font-size: 50px;
  margin-top: 30px;
}

.Cutia2:hover h1 {
  color: var(--text-first-color);
  text-shadow:
    0 0 5px var(--text-second-color),
    0 0 10px var(--text-third-color),
    0 0 28px var(--text-forth-color);
  transition: 1500ms;
  font-size: 55px;

}

.Cutia2 p {
  color: var(--eleventh-color);
  text-decoration: italic;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: local;
  padding: 0;
  font-size: 15px;
  line-height: 1.4;
}

.Cutia2 hr {
  border-width: 1px;
  color: var(--eleventh-color);
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 10px;
  margin-bottom: 50px;
}





input[type=radio] {
  display: none;
}

.mergi {
  padding: 50px;
  margin-bottom: 100px;
  transition: 10ms;
  user-select: none;
}

.card {
  position: absolute;

  width: 60%;
  height: 500px;
  left: 20%;
  right: 50%;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container1 {

  max-width: 800px;
  max-height: 500px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

.img1 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked~.cards #song-3,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.img1 {
  box-shadow: 0px 0px 10px 0px rgba(21, 177, 255, 0.678);
}


.photo-button {
  position: relative;
  top: 100px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  background-color: var(--nineth-color);
  padding: 13px 35px;
  border: 1.7px solid rgba(0, 153, 229, 0.591);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 6px;
  transition: 493ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.photo-button:hover {

  transition: 493ms;
  padding: 13px 50px;
  transform: translateY(-0px);
  background-color: #212121;
  color: rgb(0, 153, 229);
  border: solid 1.9px rgb(0, 153, 229);
  box-shadow: 0 0 15px rgb(0, 153, 229);

}

.photo-button a {
  color: #fff;
  font-size: 15px;
  transition: 493ms;
}

.photo-button:hover a {
  color: rgb(0, 153, 229);
  font-size: 17px;
  transition: 493ms;
}




.mergi11 {
  padding: 50px;
  margin-bottom: 100px;
  transition: 10ms;
  user-select: none;
}





.card11 {
  position: absolute;
  width: 60%;
  height: 500px;

  left: 20%;
  right: 50%;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;


}

.container11 {

  max-width: 800px;
  max-height: 500px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.cards11 {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

.img11 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

#item-11:checked~.cards11 #song-33,
#item-22:checked~.cards11 #song-11,
#item-33:checked~.cards11 #song-22 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-11:checked~.cards11 #song-22,
#item-22:checked~.cards11 #song-33,
#item-33:checked~.cards11 #song-11 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-11:checked~.cards11 #song-11,
#item-22:checked~.cards11 #song-22,
#item-33:checked~.cards11 #song-33 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.img11 {
  box-shadow: 0px 0px 10px 0px rgba(21, 177, 255, 0.678);
}


.mergi111 {
  padding: 50px;
  margin-bottom: 100px;
  transition: 10ms;
  user-select: none;
}

.card111 {
  position: absolute;
  width: 60%;
  height: 500px;

  left: 20%;
  right: 50%;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container111 {

  max-width: 800px;
  max-height: 500px;
  height: 500px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.cards111 {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 25px;
}

.img111 {
  width: 100%;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

#item-111:checked~.cards111 #song-333,
#item-222:checked~.cards111 #song-111,
#item-333:checked~.cards111 #song-222 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-111:checked~.cards111 #song-222,
#item-222:checked~.cards111 #song-333,
#item-333:checked~.cards111 #song-111 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-111:checked~.cards111 #song-111,
#item-222:checked~.cards111 #song-222,
#item-333:checked~.cards111 #song-333 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

.img111 {
  box-shadow: 0px 0px 10px 0px rgba(21, 177, 255, 0.678);
}




.Cutia3 {
  margin-left: 100px;
  margin-right: 100px;
  max-width: auto;
  padding: 10px;
  background: var(--third-color);
  border-radius: 15px;
  margin-top: 120px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.744);
  filter: brightness(65%);
  transition: 300ms;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.Cutia3:hover {
  box-shadow: 0 0 40px var(--tenth-color);
  filter: brightness(100%);
}


.Cutia3 hr {
  border-width: 1px;
  color: var(--eleventh-color);
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.Cutia3 h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--text-sixth-color);
  font-size: 50px;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 10%;
}

.Cutia3:hover h1 {
  color: var(--text-first-color);
  text-shadow:
    0 0 5px var(--text-second-color),
    0 0 10px var(--text-third-color),
    0 0 28px var(--text-forth-color);
  transition: 1500ms;
  font-size: 55px;

}





.frequiently{
  background-color: var(--third-color);
  padding: 60px 0 80px 0;
  margin: 70px 0 80px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.744);
  filter: brightness(85%);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: 300ms;
}

.frequiently:hover {
  box-shadow: 0 0 50px -25px var(--tenth-color);
  filter: brightness(100%);
}


.border-faq{
  height: 1.5px;
  border-color: var(--twelf-color);
  margin: 0 30%;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
}

.frequiently:hover .border-faq{
  margin: 0 50px;
  margin-bottom: 25px;
}


.faq {
  max-width: 700px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
}


.faq ul {
  text-align: left;
}
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.3s;
}

.faq .no-select, #faq h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

.faq h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--text-sixth-color);
  font-size: 50px;
  margin-bottom: 10px;
}



.frequiently:hover h1 {
  color: var(--text-first-color);
  text-shadow:
    0 0 5px var(--text-second-color),
    0 0 10px var(--text-third-color),
    0 0 28px var(--text-forth-color);
  transition: 1500ms;
  font-size: 55px;
}

.faq h2 {
  color: var(--twelf-color);
  font-family: 'hm_light', sans-serif;
  font-size: 20px;
  line-height: 34px;
  text-align: left;
  padding: 25px 15px 0;
  text-transform: none;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  cursor: pointer;
  transition: .2s;
}

.faq p {
  color: var(--secundary-color);
  text-align: left;
  font-family: 'hm_light', sans-serif;
  font-size: 14px;
  line-height: 1.45;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  will-change: max-height;
  contain: layout;
  display: inline-block;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0 50px 0 15px;
  transition: .3s opacity, .6s max-height;
  hyphens: auto;
  z-index: 2;
}

.faq ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.faq ul li {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: var(--forth-color);
  box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
  -webkit-tap-highlight-color: transparent;
}
.faq ul li + li {
  margin-top: 15px;
}
.faq ul li:last-of-type {
  padding-bottom: 0;
}
.faq ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 28px;
  right: 15px;
}
.faq ul li i:before, .faq ul li i:after {
  content: "";
  position: absolute;
  background-color: var(--twelf-color);
  width: 3px;
  height: 9px;
}
.faq ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.faq ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.faq ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  touch-action: manipulation;
}
.faq ul li input[type=checkbox]:checked ~ h2 {
  color: var(--secundary-color);
}
.faq ul li input[type=checkbox]:checked ~ p {

  max-height: 0;
  transition: .3s;
  opacity: 0;

}
.faq ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.faq ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}


.main {
  display: flex;
  flex-wrap: wrap;
}

.main>div {
  width: calc(100% / 3 - 25px);
  margin-left: 10px;
  margin-right: 20px;
}

.main div:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
  .main>div {
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }


  .main>div>.containerD .cardD .face {
    width: 90%;
    left: auto;
    right: auto;
  }

  .main>div>.containerD .cardD {

    height: auto;
  }
}



.containerD {
  display: flex;
  margin: 0;
  z-index: 3;

}

.containerD .cardD {
  position: relative;
  height: 470px;
}

.containerD .cardD .face {
  transition: .4s;
  position: absolute;
  width: 90%;
  height: 350px;
  margin: auto;
  bottom: 35px;
  border-radius: 20px;
  overflow: hidden;
}

.containerD .cardD .face.face1 {
  position: relative;
  background: var(--forth-color);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(50px);
  border-radius: 17px;

}

.containerD .cardD:hover .face.face1 {
  transform: translateY(-200px);
  box-shadow:
    inset 0 0 60px var(--secundary-color),
    inset 20px 0 60px rgb(0, 170, 255),
    inset -20px 0 80px rgb(255, 98, 0),
    inset 20px 0 250px rgb(0, 170, 255),
    inset -20px 0 300px rgb(255, 98, 0),
    0 0 50px var(--secundary-color),
    -10px 0 60px rgb(0, 170, 255),
    10px 0 80px rgb(255, 98, 0);

}


.containerD .cardD .face.face1 .contentbox {
  opacity: 0.7;
  transition: 0.5s;
  text-align: center;


}

.containerD .cardD:hover .face.face1 .contentbox {
  opacity: 1;

}

.containerD .cardD .face.face1 .contentbox i {
  font-size: 3em;
  color: var(--secundary-color);
  display: inline-block;

}

.containerD .cardD .face.face1 .contentbox h3 {
  font-size: 1em;
  color: var(--secundary-color);
  text-align: center;

}

.containerD .cardD .face.face1 .contentbox a {
  transition: .5s;
}

.containerD .cardD .face.face2 {
  position: relative;
  background: var(--sixth-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-300px);
}


.containerD .cardD:hover .face.face2 {
  transform: translateY(-200px);

}

.containerD .cardD .face.face2 .contentbox p,
a {
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: var(--fifth-color);
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

.containerD .cardD .face.face2 .contentbox a {
  text-decoration: none;
  box-sizing: border-box;
  color: var(--seventh-color);
  outline: 1px dashed #FF5733;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  transition: 0.2s ease-in-out;
  box-shadow: inset 0px 0px 5px #FF5733;
}

.containerD .cardD .face.face2 .contentbox a:hover {
  background: #333;
  color: white;
  box-shadow: inset 0;
}



.review-div h1 {
  font-family: 'Poppins', sans-serif;
  color: var(--text-sixth-color);
  font-size: 50px;
  margin-top: 30px;
}

.review-div:hover h1 {
  color: var(--text-first-color);
  text-shadow:
    0 0 5px var(--text-second-color),
    0 0 10px var(--text-third-color),
    0 0 28px var(--text-forth-color);
  transition: 1500ms;
  font-size: 55px;

}

.review{
  margin-bottom: 150px;
}

.testimonials{
  padding: 75px 0;
  padding-top: 15px;
  background: var(--third-color);
  color: var(--secundary-color);
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.744);
  filter: brightness(85%);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  transition: 300ms;
}





.testimonials:hover {
  box-shadow: 0 0 50px -25px var(--tenth-color);
  filter: brightness(100%);

}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  height: 1.5px;
  border-color: var(--twelf-color);
  margin: 0 30%;
  margin-bottom: 25px;
  transition: 0.5s ease-in-out;
}

.testimonials:hover .border{
  margin: 0 50px;
  margin-bottom: 25px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: var(--forth-color);
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: var(--twelf-color);
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin-top: 10px;
  padding: 40px 0;
  font: 300 60px 'Poppins', sans-serif;
  color: var(--text-sixth-color);
  letter-spacing: 3px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}


.form-horizontal {

  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400px;
}

.form-control {
  max-width: 350px;
  background-color: rgb(20, 20, 20);
  color: rgb(169, 169, 169);
  letter-spacing: 1px;
  height: 35px;
  border-radius: 4px;
  border: solid rgb(0, 153, 229) 1.5px;
  padding: 8px;
  margin-bottom: 7px;

}

.form-control2,
textarea {
  max-width: 350px;
  background-color: rgb(20, 20, 20);
  color: rgb(169, 169, 169);
  letter-spacing: 1px;
  border-radius: 4px;
  border: solid rgb(0, 153, 229) 1.5px;
  padding: 8px;
}








.send-button {
  min-width: 350px;
  height: 35px;
  color: #ffffff00;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 4px;
  z-index: 0;
  background: #0051ff18;
  overflow: hidden;
  border: solid #FF5733 1.5px;
  color: rgb(0, 153, 229);
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.alt-send-button {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 45%;

  top: 0;
  width: 0;
  height: 100%;
  background: rgb(21, 177, 255);
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.send-button:hover .alt-send-button {
  transform: translate3d(0px, -29px, 0px);
}

.send-button:hover:after {
  width: 100%;
}

.send-button:hover {
  color: var(--secundary-color);
}

.direct-contact-container {
  max-width: 400px;
}


.contact-list {
  list-style-type: none;
}

.list-item {
  line-height: 3.7;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 25px;
}

.phone {
  margin-left: 20px;
}

.gmail {
  margin-left: 15px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--secundary-color);
  text-decoration: none;
}



.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 8px;
}

.social-media-list li a {
  color: white;

}

.social-media-list li {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 65px;
  border-radius: 50%;
  color: var(--secundary-color);
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 65px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px rgb(0, 153, 229);
  transition: all .2s ease-in-out;
}



.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  pointer-events: none;
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #969696;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
}

hr {
  border-color: var(--eleventh-color);
  margin-top: 5px;
}


.mini-hr{
  background-color: var(--twelf-color);
  height: 2px;
}


.patra {
  background-color: var(--eight-color);
  height: auto;
}

.cinci-thing{
  background-color: var(--nineth-color);
  width: 100%; 
  height: 25px; 
  margin-top: -30px;
}

.cincia {
  margin-top: 140px;
  margin-bottom: 150px;
  background-color: var(--nineth-color);
  height: 100px;
}

.cincia h2 {
  gap: 20px;
  color: var(--blur-color);
  font-size: 6em;
  cursor: pointer;
  user-select: none;
}

.cincia h2::selection {
  background: rgba(0, 0, 0, 0)
}

.cincia h2 span {
  filter: blur(8px);
  padding: 0 5px;
  transition: 1.5s;
}

.cincia h2 span:hover {
  filter: blur(0px);
  color: var(--blur-second-color);
  transition: 0.2s;
}

#AnchorRecenzii{
  scroll-margin-top: 150px;
}

#AnchorContact {
  scroll-margin-top: 125px;
}

#AnchorFAQ{
  scroll-margin-top: 250px;
}

#AnchorGlarie {
  scroll-margin-top: 100px;
}

#AnchorNoi {
  scroll-margin-top: 160px;
}

#AnchorTop {
  scroll-margin-top: 150px;
}

#AnchorProduse {
  scroll-margin-top: -10px;
}




.preloader {
  background: #000000 url(Pozele/LoadingAnimation.gif) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.br {
  user-select: none;
}


.span-first-start{
  color: #FF5733; 
  font-family: 'Shadow'; 
  font-size: 130px;
}

.span-second-start{
  color: rgb(0, 153, 229); 
  font-family: 'Rubik'; 
  font-size: 70px; 
  margin: 10px;
}



@media (min-width: 768px) and (max-width: 1023px) {
  .meniu-container a {
    font-size: 20px;
  }

  .Cutia1 {
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px;
    height: auto;

  }

  #AnchorTop{
    margin-top: 80px;
  }

  .Cutia2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .Cutia2 p {
    font-size: 20px;
  }



  .Cutia3 {
    margin-left: 50px;
    margin-right: 50px;
  }


  .containerD .cardD .face.face2 .contentbox p,
  a {
    font-size: 25px;
  }

  .containerD .cardD .face.face1 .contentbox h3 {
    font-size: 2em;
  }

  .Enter {
    max-height: 120vh;
    margin-top: -100px;
  }

  .Enter h3 {
    padding-top: 5%;
    font-size: 70px;

  }

  .Enter p {
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 100px;
  }

  .button-product {
    width: 190px;
    height: 60px;
    font-size: 20px;
  }

  .Enter button {
    width: 190px;
    height: 60px;
    font-size: 20px;
  }

  .span-first-start{
    font-size: 90px;
  }
  .span-second-start{
font-size: 55px;
  }
}




@media only screen and (max-width: 1024px) {


  .meniu-container a {
    font-size: 20px;
  }


  .Cutia1 {
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    height: auto;
    border-radius: 50px;
  }

  .Cutia2 {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50px;

  }


  .Cutia3 {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50px;
  }

  .containerD .cardD .face.face2 .content p {
    font-size: 20px;
  }

  .Enter {
    max-height: 100vh;
    margin-top: -100px;
  }

  .Enter h3 {
    padding-top: 5%;
    font-size: 80px;

  }

  .Enter p {
    padding: 20px;
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 100px;
    margin-right: 35px;
    margin-left: 35px;
  }

  .button-product {
    width: 190px;
    height: 60px;
    font-size: 20px;
  }

  .Enter button {
    width: 190px;
    height: 60px;
    font-size: 20px;
  }

  
  #AnchorTop{
    margin-top: 80px;
  }

  .span-first-start{
    font-size: 90px;
  }
  .span-second-start{
    font-size: 55px;
      }
}




@media only screen and (min-width: 499px) and (max-width: 548px) {
  .Enter {
    margin-top: -80px;
  }
}



@media only screen and (max-width: 1024px) {


  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
}


@media only screen and (max-width: 1100px) {
  .mergi {
    align-items: center;
    margin-right: auto;
    padding-left: auto;
    transition: 300ms;
  }
}

@media only screen and (max-width: 900px) {
  .mergi {


    transition: 300ms;

  }
}

@media only screen and (max-width: 700px) {
  .mergi {

    transition: 300ms;

  }
}

@media only screen and (max-width: 600px) {
  .mergi {


    transition: 300ms;

  }


}


@media only screen and (max-width: 1100px) {
  .mergi11 {
    align-items: center;
    margin-right: auto;
    padding-left: auto;
    transition: 300ms;
  }
}

@media only screen and (max-width: 900px) {
  .mergi11 {

   
    transition: 300ms;

  }
}

@media only screen and (max-width: 700px) {
  .mergi11 {

    
    transition: 300ms;

  }
}

@media only screen and (max-width: 600px) {
  .mergi11 {


    transition: 300ms;

  }

}

@media only screen and (max-width: 1100px) {
  .mergi111 {
    align-items: center;
    margin-right: auto;
    padding-left: auto;
    transition: 300ms;
  }
}

@media only screen and (max-width: 900px) {
  .mergi111 {


    transition: 300ms;

  }
}

@media only screen and (max-width: 700px) {
  .mergi111 {


    transition: 300ms;

  }
}

@media only screen and (max-width: 600px) {
  .mergi111 {


    transition: 300ms;

  }
}








@media only screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }

}

@media only screen and (max-width: 569px) {

  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }

  .form-control,
  textarea {

    margin: 0 auto;
  }


  

  .direct-contact-container {
    margin-top: 60px;
    max-width: 400px;
  }

  .social-media-list {
    left: 0;
  }

  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 50px;
    font-size: 2rem;
  }

  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 50px;
  }

}

@media only screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}