/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the clickable text */
#dropdown-btn {
  display: inline-block;
  padding: 10px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
}

/* Style the arrow down icon */
.fa-arrow-down {
  display: inline-block;
  margin-left: 5px;
}

/* Style the dropdown content (hidden by default) */
#dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 40px;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style the links inside the dropdown */
#dropdown-content a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

/* Change color of links on hover */
#dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the button is clicked */
.show {
  display: block;
}


.fa-arrow-down {
  width: 100px;
  height: 40px;
}
